* {
  box-sizing: border-box;
}
:root {
  --navColor: #1e202b;
  --weatherColorOneBody: #323544;
  --weatherColorOneHead: #2d303d;
  --weatherColorTwoBody: #262936;
  --weatherColorTwoHead: #222530;
  --footerColor: #323544;
  --btnsColor: #009ad8;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
}
/* Navbar */
nav {
  background-color: var(--navColor);
}
.logo img {
  width: 75px;
}
.logo .textLogo span {
  width: 100%;
  font-size: 0.7rem;
  color: gray;
  font-weight: normal;
}
.nav-link {
  border: 1px solid transparent;
  border-radius: 20px;
  font-size: 0.9rem;
  padding: 0 1.5rem !important;
}
.navbar-nav {
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: var(--btnsColor);
}
.navbar-nav,
.nav-link:focus {
  border-color: white;
  border-radius: 20px;
  color: white;
}
.nav-link.active,
.nav-link:hover {
  color: var(--btnsColor) !important;
  border-color: var(--btnsColor);
}
.navbar-toggler {
  transition: all 0.3s;
  line-height: 1.6;
  color: white !important;
  border-radius: 50%;
  padding: 0;
  margin: 0 0 1rem 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
}
.navbar-toggler:hover {
  color: var(--btnsColor) !important;
  border-color: var(--btnsColor);
}
hr {
  display: none;
  margin: 1rem 0;
  padding: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}
@media screen and (max-width: 992px) {
  .navbar-nav {
    background-color: var(--footerColor);
    border-radius: 10px;
    border: 1px solid gray;
  }
  .nav-link.active,
  .nav-link:hover {
    border: none;
  }
  .nav-link {
    text-align: center;
    border: none;
    padding: 1rem 0;
  }
  hr {
    display: block;
  }
}
/* Search & Display weather */
.bgPhoto {
  background-image: url(../imgs/banner.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain 100px;
  background-color: var(--navColor);
  padding: 3rem 0;
}
.bgPhoto .input {
  background-color: var(--navColor);
  display: flex;
  border-radius: 35px;
  padding: 0.3rem;
}
.bgPhoto .input input {
  width: 100%;
  background-color: transparent;
  color: gray;
  padding: 0.7rem 0 0.7rem 1rem;
  border-radius: 30px;
  border: none;
}
.bgPhoto .input input:focus {
  border: none;
  outline: none;
  caret-color: white;
  color: white;
}
.bgPhoto .input button {
  padding: 0.7rem 2.5rem;
  border-radius: 30px;
  background-color: var(--btnsColor);
  color: white;
  border: none;
  outline: none;
}

.bgPhoto .container .row {
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .bgPhoto .container .row {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}
.bgPhoto .container .row .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
  color: white;
}
.bgPhoto .container .row .today .head {
  background-color: var(--weatherColorOneHead);
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 0.5rem;
}
.bgPhoto .container .row .today .body {
  background-color: var(--weatherColorOneBody);
  padding: 1.5rem;
  min-height: 450px;
  .status {
    color: var(--btnsColor);
    padding: 0.5rem 0;
  }
}
.bgPhoto .container .row .tomorrow .head {
  background-color: var(--weatherColorTwoHead);
  padding: 0.7rem 0.5rem;
  text-align: center;
}
.bgPhoto .container .row .tomorrow .body {
  background-color: var(--weatherColorTwoBody);
  min-height: 450px;
  padding: 4rem 0 0 0;
  text-align: center;
  h6 {
    color: var(--btnsColor);
  }
}
.bgPhoto .container .row .afterTomorrow .head {
  background-color: var(--weatherColorOneHead);
  padding: 0.7rem 0.5rem;
  text-align: center;
}
.bgPhoto .container .row .afterTomorrow .body {
  background-color: var(--weatherColorOneBody);
  min-height: 450px;
  padding: 4rem 0 0 0;
  text-align: center;
  h6 {
    color: var(--btnsColor);
  }
}
/* Footer */
footer {
  background-color: var(--weatherColorTwoBody);
}
footer .input {
  background-color: var(--navColor);
  display: flex;
  border-radius: 35px;
  padding: 0.3rem;
}
footer .input input {
  width: 100%;
  background-color: transparent;
  color: gray;
  padding: 0.7rem 0 0.7rem 1rem;
  border-radius: 30px;
  border: none;
}
footer .input input:focus {
  border: none;
  outline: none;
  caret-color: white;
  color: white;
}
footer .input button {
  padding: 0.7rem 2.5rem;
  border-radius: 30px;
  background-color: var(--btnsColor);
  color: white;
  border: none;
  outline: none;
}
.footerIcons a {
  width: 40px;
  height: 40px;
  display: flex;
  margin: 0 0.4rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--navColor);
  color: var(--btnsColor);
  text-decoration: none;
  font-size: 1.3rem;
}
